.errorMessageWrapper {
  margin: 150px auto 45px auto;
  text-align: center;
  width: 60%;
  border: solid 5px #000000;
  padding: 30px;
}

.tomatoImg {
  display: block;
  margin: 0px auto;
  transform: rotate(30deg);
  width: 20%;
  max-width: 200px;
}

h1 {
  font-family: "Monoton", cursive;
  word-spacing: 5px;
}
